<div class="container my-5">
<div class="p-4 p-md-5 mb-4 text-dark rounded bg-light">
    <div class="col-md-6 px-0">
{{#each blog}}
      <h1 class="display-4 fw-normal">{{this.title}}</h1>
      <p class="lead my-3">{{this.content}}</p>
{{/each}}
    </div>
  </div>
</div>



{{!-- <div class="conatiner">
{{#each blog}}
        <h2>{{this.title}}</h2>
        <b>{{this.slug}}</b>
        <p>{{this.content}}</p>
{{/each}}
</div> --}}